
/* General Structure
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  background-color: #198c8c;
}

img {
  max-width: 100%;
  max-height: 100%;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Global Top Bar
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.title {
  font-size: 31px;

  position: relative;
  top: 4px;

  margin-bottom: -34px;
  padding-left: 34px;

  color: #fff;
}

div.three {
  margin-left: 67% !important;
}

div.two{
  margin-left: 50% !important;
}

.darkgray {
  /* margin: 0 5%;*/
  background-color: #303030;
}

.darkgray p {
  margin: 10px 0;

  text-align: right;

  color: #fff;
}


.fa,
.close,
.task-item {
  cursor: pointer;
}

/* Global Top Bar - btns "yup, got lazy"
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.top-bar-login,
.top-bar-signup {
  position: absolute;
  z-index: 1;
  top: 4px;
  right: 0;

  height: 36px;
  margin-right: 7%;

  background: white;
}

.top-bar-login:hover,
.top-bar-signup:hover {
  background: #f0f0f0;
}
.top-bar-signup {
  right: 8% !important;
}

.form-wrapper,
.form-wrapper-signup {
  position: fixed;
  z-index: 2;
  top: 0;

  display: none;

  width: 100%;
  height: 100%;

  pointer-events: none;

  background: rgba(0,0,0,.26);
}

.form {
  position: fixed;
  z-index: 3;

  display: none;

  width: 18em;
  margin: 7% 43%;

  border: 1px solid black;
  border-radius: 11px;
  background: white;
}

.form-signup {
  position: fixed;
  z-index: 3;

  display: none;

  width: 18em;
  margin: 7% 43%;

  border: 1px solid black;
  border-radius: 11px;
  background: white;
}

.form > h2,
.form-signup > h2 {
  font-size: 4.2rem;

  margin-left: 20px;
}

.form__field-wrapper,
.form__field-wrapper-signup {
  position: relative;

  width: 77%;
  margin: 0 auto;
  padding-top: 1.75em;

  background-color: #fff;
}

.form__field-wrapper + .form__field-wrapper,
.form__field-wrapper-signup + .form__field-wrapper-signup {
  border-top: none;
}

.form__field-label,
.form__field-label-signup {
  font-size: .8em;
  font-weight: 400;

  position: absolute;
  z-index: 1;
  top: -16px;
  left: 0;

  width: 100%;
  margin: 0;
  padding: 16px;
  padding-top: 20px;
  padding-bottom: 0;

  cursor: text;
}

.form__field-input,
.form__field-input-signup {
  position: relative;

  width: 100%;
  padding: 1.625em 16px;

  letter-spacing: .05em;

  border: none;
  outline: 0;
}

.form__submit-btn,
.form__submit-btn-signup {
  position: relative;

  display: block;
  display: inline-block;

  width: 36%;
  height: 36px;
  margin: 8% 5%;
  padding: 0 1em;

  color: white;
  border: none;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #fff;
  background-color: rgba(42,45,52,.40);
}

.form__cancel,
.form__cancel-signup {
  z-index: 3;

  margin-left: 34%;

  cursor: pointer;
}

.form__submit-btn:hover,
.form__submit-btn-signup:hover {
  background-color: rgba(50,112,119,.40);
}

.js-form__err-animation,
.js-form__err-animation-signup {
  animation: shake 150ms ease-in-out;
}

.form__error-wrapper,
.form__error-wrapper-signup {
  display: none;

  max-width: calc(100% - 2em);
  margin: 0 auto;
  margin-bottom: 1em;

  justify-content: center;
}

.form__error,
.form__error-signup {
  font-size: .8em;

  display: none;

  margin: 0;
  padding: .5em 1em;

  user-select: none;

  color: white;
  background-color: red;
}

/* Global Top Bar - Popup
––––––––––––––––––––––––––––––––––––––––––––––––––
*/
.tripDropdownListDiv {
  position: absolute;
  z-index: 50;
  right: 0;

  display: none;

  width: 394px;
  margin-top: 15px;
  margin-right: 14%;
  padding: 25px 25px 20px;

  border: 1px solid #999;
  background-color: #fff;
}


.invitepopup {
  position: absolute;
  z-index: 50;
  right: 0;

  display: none;

  width: 394px;
  margin-top: 15px;
  margin-right: 7%;
  padding: 25px 25px 20px;

  border: 1px solid #999;
  background-color: #fff;
}

/* Global Top Bar - Popup Invite tags
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.jq_tags_editor {
  min-height: 30px;
  padding: 5px 5px 10px 5px;

  color: #222;
  border: solid 1px #aaa;
}

.jq_tags_editor input[type='text'] {
  height: 20px;

  border: none;
  background: #fff;
}

.jq_tags_editor input[type='text']:focus {
  outline: none;
}

.jq_tags_editor .jq_tags_tokens  .jq_tags_token {
  float: left;

  margin: 0 5px 5px 0;
  padding: 3px 5px;

  color: #111;
  border: solid 1px #b7c963;
  -moz-border-radius: 2px;
       border-radius: 2px;
  background-color: #c7da76;
}

.jq_tags_editor .jq_tags_tokens  .jq_tags_token a {
  margin-left: 7px;

  color: #749440;

  fon-weight: bold;
}

/* Global Top Bar - 
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.newTripForm {
  display: none;
}

.tripItem {
  cursor: pointer;
}


/* Static Sidebar
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.sidebar {
  position: relative;

  float: left;

  width: 20%;
  height: 100%;
  min-height: 100%;
  /*margin-left: 5%;*/

  background-color: #198c8c;
}

/*.sidebar, .sidebar:before {
    width:20%;
}
.sidebar {
    float:left;
    padding: 20px 30px;
    color: #ebeef3;
    font-size: 90%;
    background-color: #198c8c;
}
.sidebar:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 60%;
    background-color: #198c8c;
}*/

.location-display {
  height: 175px;
  margin-bottom: 0;

  text-align: center;

  color: #fff;
}

.location-display h4 {
  color: #fff;
}

.location-display .fa {
  margin: 25px 0;
}

.task-item {
  font-size: 28px;

  position: relative;

  overflow: hidden;

  height: 100%;
  margin-bottom: 2px;
  padding: 20px;

  cursor: pointer;
  -webkit-transition-duration: .4s; /* Safari */
          transition-duration: .4s;
  text-decoration: none;

  color: #fff;
  border: none;
  background-color: #198c8c;
}


.task-item:after {
  position: absolute;

  display: block;

  margin-top: -120%;
  margin-left: -20px!important;
  padding-top: 300%;
  padding-left: 350%;

  content: '';
  transition: all .8s;

  opacity: 0;
  background: #22bfbf;
}

.task-item:active:after {
  margin: 0;
  padding: 0;

  transition: 0s;

  opacity: 1;
}

.task-item p {
  font-size: 18px;

  margin: -8px 10px -8px;

  text-align: right;

  color: #fff;
}

.addTaskBox {
  margin-left: 10px;
}

.addTaskBox p {
  color: #fff;
}

.addTaskBox label {
  color: #fff;
}

.addTaskBox input {
  width: 40%;
  margin-left: 10px;

  background-color: #fff;
}

.addTaskLabel {
  font-size: 18px;
}


/* Main Content Area
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

#react-task-mount {
  height: 100%;
}

.main {
  position: relative;

  float: left;

  width: 80%;
  /*min-width:200px;*/
  height: 100%;
}

.suggestion-display {
  padding: 10px;

  color: #fff;
  border-bottom: 1px solid #ccc;
  background-color: #c0392b;
}

.suggestion-display p {
  display: inline;

  margin-right: 15px;
}

.suggestion-display form {
  margin-bottom: 0;
}

/*.suggestion .newSuggestionContent{
    color: #000;
}*/

.suggestion-display input {
  color: #000 !important;
}

.suggestion-display input:focus {
  color: #000 !important;
}

.suggestion-display button {
  margin-left: 15px;

  background: #fff;
}

.chat-display {
  overflow-y: scroll;

  height: 65%;
  padding: 5px;

  background-color: #e3e3e3;
}

.message-author {
  font-weight: 500;
}

.message-input {
  position: absolute;

  width: 100%;
  padding: 10px;

  background-color: #ccc;
}

.message-input button {
  /*  float:right;
  margin-right:60px;*/
  position: relative;
  top: 6px;
}

.message-input form {
  margin-top: 1.5rem;

  text-align: left;
}

.message-input input {
  position: relative;
  top: 10px;

  width: 80%;
  height: 38px;
  margin-right: 10px;
  margin-left: 3%;
  padding-top: 10px;
}
