
/* General Structure
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #198c8c;
}

img {
  max-width: 100%;
  max-height: 100%;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Global Top Bar
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.title {
  font-size: 31px;

  position: relative;
  top: 4px;

  margin-bottom: -34px;
  padding-left: 34px;

  color: #fff;
}

.darkgray {
 /* margin: 0 5%;*/

  background-color: #303030;
}

.darkgray p {
  margin: 10px 0;

  text-align: right;

  color: #fff;
}

.fa,
.close,
.task-item {
  cursor: pointer;
}

/* Global Top Bar - Popup
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.invitepopup {
  position: absolute;
  z-index: 50;
  right: 0;

  display: none;

  width: 394px;
  margin-top: 15px;
  margin-right: 7%;
  padding: 25px 25px 20px;

  border: 1px solid #999;
  background-color: #fff;
}

/* Global Top Bar - Popup Invite tags
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.jq_tags_editor {
  min-height: 30px;
  padding: 5px 5px 10px 5px;

  color: #222;
  border: solid 1px #aaa;
}

.jq_tags_editor input[type='text'] {
  height: 20px;

  border: none;
  background: #fff;
}

.jq_tags_editor input[type='text']:focus {
  outline: none;
}

.jq_tags_editor .jq_tags_tokens  .jq_tags_token {
  float: left;

  margin: 0 5px 5px 0;
  padding: 3px 5px;

  color: #111;
  border: solid 1px #b7c963;
  -moz-border-radius: 2px;
       border-radius: 2px;
  background-color: #c7da76;
}

.jq_tags_editor .jq_tags_tokens  .jq_tags_token a {
  margin-left: 7px;

  color: #749440;

  fon-weight: bold;
}

/* Static Sidebar
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.sidebar {
  position: relative;

  float: left;

  width: 20%;
  height: 100%;
  min-height: 100%;
  /*margin-left: 5%;*/

  background-color: #198c8c;
}

/*.sidebar, .sidebar:before {
    width:20%;
}
.sidebar {
    float:left;
    padding: 20px 30px;
    color: #ebeef3;
    font-size: 90%;
    background-color: #198c8c;
}
.sidebar:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 60%;
    background-color: #198c8c;
}*/

.location-display {
  height: 175px;
  margin-bottom: 0;

  text-align: center;

  color: #fff;
}

.location-display h4 {
  color: #fff;
}

.location-display .fa {
  margin: 25px 0;
}

.task-item {
  font-size: 28px;

  position: relative;

  overflow: hidden;

  height: 100%;
  margin-bottom: 2px;
  padding: 20px;

  cursor: pointer;
  -webkit-transition-duration: .4s; /* Safari */
          transition-duration: .4s;
  text-decoration: none;

  color: #fff;
  border: none;
  background-color: #198c8c;
}


.task-item:after {
  position: absolute;

  display: block;

  margin-top: -120%;
  margin-left: -20px!important;
  padding-top: 300%;
  padding-left: 350%;

  content: '';
  transition: all .8s;

  opacity: 0;
  background: #22BFBF;
}

.task-item:active:after {
  margin: 0;
  padding: 0;

  transition: 0s;

  opacity: 1;
}

.task-item p {
  font-size: 18px;

  margin: -8px 10px -8px;

  text-align: right;

  color: #fff;
}

.addTaskBox {
  margin-left: 10px;
}

.addTaskBox p {
  color: #fff;
}

.addTaskBox label {
  color: #fff;
}

.addTaskBox input {
  background-color: #fff;
  width:40%;
  margin-left:10px;
}

.addTaskLabel {
  font-size: 18px;
}


/* Main Content Area
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

#react-task-mount {
  height: 100%;
}

.main {
  position: relative;

  float: left;

  width: 80%;
  /*min-width:200px;*/
  height: 100%;
}

.suggestion-display {
  padding: 10px;

  color: #fff;
  background-color: #c0392b;
  border-bottom: 1px solid #ccc;
}

.suggestion-display p {
  display: inline;

  margin-right: 15px;
}

.suggestion-display form {
  margin-bottom:0;}

/*.suggestion .newSuggestionContent{
    color: #000;
}*/

.suggestion-display input {
    color: #000 !important;
}

.suggestion-display input:focus {
    color: #000 !important;
}

.suggestion-display button {
  background: #fff;
  margin-left:15px;
}

.chat-display {
  height: 66%;
  padding: 5px;

  background-color: #e3e3e3;
}

.message-author {
  font-weight: 500;
}

.message-input {
  padding: 10px;

  background-color: #ccc;
}

.message-input button {
  /*  float:right;
  margin-right:60px;*/
  position: relative;
  top: 6px;
}

.message-input form {
  margin-top: 1.5rem;

  text-align: left;
}

.message-input input {
  position: relative;
  top: 10px;

  width: 80%;
  height: 38px;
  margin-right: 10px;
  margin-left: 3%;
  padding-top: 10px;
}
